* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  height: 100vh;
  width: 100%;
  background: brown;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  height: 600px;
  width: 1000px;
  border: 5px solid black;
}
.top {
  border: 5px solid red;
  height: 300px;
  display: flex;
}
.top-left {
  display: flex;
  justify-content: space-around;

  height: 300px;
  width: 500px;
  border: 2px solid blue;
}
.pic-left-top,
.pic-right-top {
  width: 50px;
  height: 200px;
  margin-left: 25px;
  background: white;
  clip-path: polygon(90% 0, 0 0, 40% 100%);
}
.pic-left-top {
  background: #000;
}
.pic-left-top:nth-child(2n + 1) {
  background: white;
}

.pic-right-top:nth-child(2n + 1) {
  background: #000;
}
.top-right {
  height: 300px;
  width: 500px;
  border: 5px solid purple;
  display: flex;
}

.bottom {
  display: flex;
  height: 300px;
  border: 5px solid green;
}
.bottom-left {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 500px;
  border: 2px solid blue;
}

.pic-bottom-left,
.pic-bottom-right {
  width: 50px;
  height: 200px;
  margin-left: 25px;
  background: white;
  clip-path: polygon(90% 100%, 35% 0, 0 100%);
  margin-bottom: 10px;
}
.pic-bottom-left {
  background: white;
}
.pic-bottom-left:nth-child(2n + 1) {
  background: black;
}
.pic-bottom-right:nth-child(2n + 1) {
  background: black;
}

.bottom-right {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 500px;
  border: 4px solid yellow;
}
.jetonun {
  position: absolute;
  top: 75px;
  right: 320px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: white;
}
.jetondeux {
  position: absolute;
  z-index: 2;
  top: 115px;
  right: 320px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: white;
}
.jetontrois {
  position: absolute;
  top: 75px;
  right: 695px;
  z-index: 2;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: #000;
}
.jetonquatre,
.jetoncinq,
.jetonsix,
.jetonsept,
.jetonhuit,
.jetonneuf,
.jetondix,
.jetononze,
.jetondouze,
.jetontreize,
.jetonquatorze,
.jetonquinze,
.jetonseize,
.jetondixsept,
.jetondixhuit,
.jetondixneuf,
.jetonvinght,
.jetonvingthun,
.jetonvingthdeux,
.jetonvingthtrois,
.vinghtquatre,
.vinghtcinq,
.vinghtsix,
.vinghtsept,
.vinghthuit,
.vinghtneuf,
.trente {
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: #000;
}
.jetonquatre {
  top: 117px;
  right: 695px;
}
.jetoncinq {
  top: 158px;
  right: 695px;
}
.jetonsix {
  top: 199px;
  right: 695px;
}
.jetonsept {
  top: 240px;
  right: 695px;
}
.jetonhuit {
  top: 75px;
  left: 635px;
  background: white;
}
.jetonneuf {
  top: 120px;
  left: 635px;
  background: white;
}
.jetondix {
  top: 165px;
  left: 635px;
  background: white;
}
.jetononze {
  top: 72px;
  left: 315px;
}
.jetondouze {
  top: 110px;
  left: 315px;
}
.jetontreize {
  top: 150px;
  left: 315px;
}
.jetonquatorze {
  top: 190px;
  left: 315px;
}
.jetonquinze {
  top: 230px;
  left: 315px;
}
.jetonseize {
  bottom: 62px;
  left: 305px;
}
.jetondixsept {
  bottom: 100px;
  left: 305px;
}
.jetondixhuit {
  bottom: 140px;
  left: 305px;
}
.jetondixneuf {
  bottom: 180px;
  left: 305px;
}
.jetonvinght {
  bottom: 220px;
  left: 305px;
}
.jetonvingthun {
  bottom: 70px;
  left: 608px;
}
.jetonvingthdeux {
  bottom: 110px;
  left: 608px;
}
.jetonvingthtrois {
  bottom: 145px;
  left: 608px;
}
.vinghtquatre {
  bottom: 65px;
  right: 697px;
}
.vinghtcinq {
  bottom: 105px;
  right: 697px;
}
.vinghtsix {
  bottom: 145px;
  right: 697px;
}
.vinghtsept {
  bottom: 185px;
  right: 697px;
}
.vinghthuit {
  bottom: 225px;
  right: 697px;
}

.vinghtneuf {
  bottom: 65px;
  right: 322px;
}
.trente {
  bottom: 100px;
  right: 322px;
}
span {
  height: 100%;
  width: 100%;
}
.jetonun {
  width: 40px;
  height: 40px;
  border-radius: 200px;
  background: green;
  position: fixed;
  z-index: 5;
}

@media screen and (max-width: 1010px) {
  .box {
    width: 90%;
  }
  .top-right,
  .top-left,
  .pic-right-top {
    width: 70%;
  }
}
@media screen and (max-width: 950px) {
  .box {
    width: 80%;
  }
  .top-right,
  .top-left,
  .pic-right-top {
    width: 70%;
  }
}
